body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'Fredoka One', cursive;
	background: url(../assets/images/cinema.jpg);
	background-size: cover;
	background-position: center;
}

h1 {
	background-color: firebrick;
	width: 100%;
	padding: 25px;
	border-radius: 10px;
	font-size: 60px;
	color: whitesmoke;
}

#movieContainer {
	font-size: 40px;
	transition: 0.5s;
	margin-top: 50px;
	color: white;
	background-color: firebrick;
	width: 50%;
	height: 100px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

button {
	width: 200px;
	height: 60px;
	font-size: 20px;
	border: solid 2px firebrick;
	border-radius: 5px;
	margin: 25px;
	background-color: firebrick;
	color: whitesmoke;
	font-family: 'Fredoka One', cursive;
}

input {
	width: 250px;
	border: solid 2px gray;
	border-radius: 5px;
	height: 50px;
}

img {
	width: 200px;
	display: none;
}
